.builderBoardContainerWrapper {
  width: fit-content;
  margin: 0 auto 3rem;
}

.builderBoardContainer {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(4, 116px);
  gap: 0 0.25rem;
  width: fit-content;
  margin: 0 auto;
  transform: translateX(-25px);
}

.hexagonWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.offset {
  transform: translateX(50%);
}
