.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 2rem auto;
  color: var(--text-theme1);
}

.searchBarContainer {
  display: flex;
  align-items: center;
  background-color: #2A2929;
  border-radius: 1rem;
  width: 70%;
  height: 3.5rem;
  padding-right: 1rem;
  margin-bottom: 5rem;
}

.advSection {
  margin-top: 3rem;
  width: 100%;
  position: relative;
  height: 16rem;
  margin-bottom: 1rem;
}

.advSection2 {
  margin-top: 1.5rem;
  width: 100%;
  position: relative;
  height: 14rem;
}

@media (max-width: 1024px) {
  .mainSection {
    width: 90%;
    margin: 1.5rem auto;
  }

  .searchBarContainer {
    width: 85%;
    height: 3rem;
  }

  .advSection {
    height: 12rem;
    margin-top: 2rem;
  }

  .advSection2 {
    height: 10rem;
  }
}

@media (max-width: 640px) {
  .mainSection {
    width: 95%;
    margin: 1rem auto;
  }

  .searchBarContainer {
    width: 95%;
    height: 2.75rem;
    font-size: 0.875rem;
  }

  .advSection {
    height: 8rem;
    margin-top: 1.5rem;
  }

  .advSection2 {
    height: 7rem;
  }
}