.headerSection {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-theme1);
  color: var(--text-theme1);
  width: 95%;
  margin: 0 auto;
}

.navBar {
  display: flex;
  padding: 1rem;
  align-items: center;
  /*justify-content: space-around;*/
  gap: 2rem;
  margin-left: 3rem;
  margin-right: 1rem;
  font-weight: bold;
  flex: 1;
}

.navBarIcon {
  font-size: 1.5rem;
  color: var(--bg-theme2);
  background-image: url("/logo.png");
  background-position: 0 50%;
  background-size: cover;
  object-fit: cover;
  width: 10.5rem;
  height: 3rem;
  position: relative;
  line-height: 100%;
}

.navBarSearchContainer {
  display: flex;
  align-items: center;
  background-color: #2A2929;
  border-radius: 1rem;
  padding-right: 1rem;
}

.navBarIconContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

.footerSection {
  width: 95%;
  margin: 0 auto;
  background-color: var(--bg-theme1);
  color: #fff;
  padding: 0.75rem 0.75rem 3rem;
  font-size: 0.875rem;
  line-height: 1.4;
}

.dropdownMenu {
  display: none;
}

@media (max-width: 1400px) {
  .headerSection {
    width: 100%;
  }
}

@media (max-width: 1350px) {
  .navBarSearchContainer {
    display: none;
  }

  .navBar {
    justify-content: flex-start;
    margin-right: 0;
  }
}

@media (max-width: 960px) {
  .navBarIconContainer {
    display: none;
  }

  .navBar {
    margin-left: 3rem;
    /*justify-content: flex-start;*/
  }
}

@media (max-width: 860px) {
  .navBar {
    display: none;
  }

  .dropdownMenu {
    display: block;
  }

  .headerSection {
    justify-content: space-between;
  }
}