.boardWrapper {
  width: 100%;
  margin-top: 1rem;
}

.boardHeaderSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.boardHeaderSection h1 {
  font-size: 1.5rem;
  color: var(--text-theme1);
  font-weight: 900;
  text-transform: uppercase;
}

.boardHeaderSelect {
  border-radius: 0.5rem;
  background: var(--bg-theme3);
  color: white;
}

.boardSecondHeaderSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.7rem;
  color: var(--text-theme1);
}

.boardSecondHeaderSearch {
  display: flex;
  align-items: center;
  gap: 1px;
  background-color: var(--bg-theme3);
  width: 20%;
  padding-left: 0.5rem;
  height: 2.4rem;
}

.boardSynergySelect {
  /*border-radius: 1rem;*/
  background-color: var(--bg-theme3);
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
}

.boardCostSelect {
  display: flex;
  align-items: center;
  background-color: var(--bg-theme3);
  padding: 0 0.4rem;
  gap: 0.5rem;
  color: #fff;
  height: 2.4rem;
  min-width: 260px;
  justify-content: space-around;
}

.boardCostSelect input[type="radio"] {
  appearance: none;
}

.boardHeaderSection p {
  color: var(--text-theme1);
}

.boardFilterInitializeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-theme3);
  height: 2.4rem;
  gap: 6px;
  width: 20%;
  color: white;
  cursor: pointer;
}

.championDisplaySection {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
  height: 390px;
  overflow: auto;
  align-content: flex-start;
}

.championDisplaySection::-webkit-scrollbar {
  display: none;
}

.boardItemFilterSection {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}

.boardItemFilterButton {
  height: 2.4rem;
  width: 100px;
}

.boardItemHeaderSearch {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 1px;
  background-color: var(--bg-theme3);
  /*border-radius: 1rem;*/
  padding-left: 0.5rem;
  height: 2.4rem;
  color: var(--text-theme1);
}

.itemDisplaySection {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
  height: 400px;
  overflow: auto;
  align-content: flex-start;
}

.itemDisplaySection::-webkit-scrollbar {
  display: none;
}